@model List<PetGrooming.Models.Pet>

@{
    ViewBag.Title = "List";
}

<h2>List of Pets</h2>
<div class="navbar">
    <a class="navlink" href="/Pet/New">Add New</a>
</div>
<div class="paginate">
    @{
        <a href="/Pet/List?pagenum=@((int)ViewData["pagenum"]-1)&petsearchkey=@ViewData["petsearchkey"]">Prev</a> 
        @ViewData["pagesummary"]
        <a href="/Pet/List?pagenum=@((int)ViewData["pagenum"]+1)&petsearchkey=@ViewData["petsearchkey"]">Next</a>
    }
</div>
<form action="/Pet/List" method="GET">
    <input type="text" name="petsearchkey" id="petsearchkey" />
    <input type="submit" value="Search" />
</form>
<div class="tilecontainer">
    @{
        foreach (var Pet in Model)
        {
            <div class="listitem">
                    <div class="itemimage">
                        @{
                            if (Pet.HasPic == 1)
                            {
                                <img src="../../Content/Pets/@(Pet.PetID).@(Pet.PicExtension)" alt="Image of @Pet.PetName" />
                            }
                        }
                    </div>
                    <div class="itemdetails">
                        <div class="listcat"><a href="/Pet/Show/@Pet.PetID">@Pet.PetName</a></div>
                        <div class="listcat">Species : <span>@Pet.Species.Name</span></div>
                        <div class="listcat">Weight : <span>@(Pet.Weight)kg</span></div>
                        <span class="cta"><a href="/Pet/Update/@Pet.PetID">Update</a></span>
                    </div>
                    <div style="clear:both;"></div>
            </div>
        }
    }
    <div style="clear:both;"></div>
</div>
