@model PetGrooming.Models.ViewModels.ShowPet

@{
    ViewBag.Title = "Show";
}

<h2>Show Pet</h2>
<div class="navbar">
    <a class="navlink" href="/Pet/List">Back to List</a>
    <a class="navlink" href="/Pet/Update/@Model.pet.PetID">Update</a>
    <a class="navlink" href="/Pet/DeleteConfirm/@Model.pet.PetID">Delete</a>
</div>
<div>
    
    <div class="col2">
        <div id="profilecontainer">
            @{
                if (Model.pet.HasPic == 1)
                {
                    <img src="../../Content/Pets/@(Model.pet.PetID).@(Model.pet.PicExtension)" alt="Image of @Model.pet.PetName" />
                }
            }
        </div>
        <div>Name : @Model.pet.PetName</div>
        <div>Weight : @(Model.pet.Weight)kg</div>
        <div>Species : @Model.pet.Species.Name</div>
        <div>
            Notes :
            <div class="notepad">
                @Model.pet.Notes
            </div>
        </div>

    </div>
    <div class="col2last">
        <div class="sectionheader">Owners:</div>
            @{

            foreach (var owner in @Model.owners)
            {
                <div class="lineitem">
                    <a href="/Owner/Show/@owner.OwnerID">@owner.OwnerLname, @owner.OwnerFname</a>
                </div>
            }

                
            }
            <div class="sectionheader">INFO ABOUT PET GROOMS HERE</div>
        </div>     
    <div style="clear:both;"></div>
</div>