@model PetGrooming.Models.ViewModels.UpdatePet


@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<div class="navbar">
    <a href="/Pet/List">Back to List</a>
</div>
<!-- Do not forget enctype="multiplart/form-data" if you want to do file upload! -->
<form action="/Pet/Update/@Model.Pet.PetID" method="POST" enctype="multipart/form-data">
    <div class="inpfield"><span>Image: </span><input type="file" name="PetPic" id="PetPic"/></div>
    <div class="inpfield"><span>Pet Name: </span><input type="text" value="@Model.Pet.PetName" id="PetName" name="PetName" /> </div>
    <div class="inpfield"><span>Pet Color: </span><input type="text" value="@Model.Pet.Color" id="PetColor" name="PetColor" /> </div>
    <div class="inpfield"><span>Pet Weight: </span><input type="text" value="@Model.Pet.Weight" id="PetWeight" name="PetWeight" />kg </div>
    <div class="inpfield">
        <span>Pet Species: </span>
        <select id="PetSpeciesID" name="SpeciesID">
            @foreach (var species in Model.Species)
            {
                var selected = "";
                if (Model.Pet.SpeciesID == species.SpeciesID)
                {
                    selected = "selected";
                }
                <option value="@species.SpeciesID" @selected>@species.Name</option>
            }
        </select>
    </div>
    
    <div class="inpfield">
        <span>Pet Notes</span>
        <textarea id="PetNotes" name="PetNotes">@Model.Pet.Notes</textarea>
    </div>
    <div class="inpfield"><input type="submit" value="update pet" /></div>
    
</form>