@model List<PetGrooming.Models.GroomBooking>

@{
    ViewBag.Title = "List";
}

<h2>List of Bookings</h2>
<div class="navbar">
    <a class="navlink" href="/GroomBooking/Add">Add New</a>
</div>
<form action="/GroomBooking/List" method="GET">
    <input type="text" name="bookingsearchkey" id="bookingsearchkey" />
    <input type="submit" value="Search" />
</form>
<div class="tilecontainer">
    @{
        foreach (var Booking in Model)
        {
            string dispdate = Booking.GroomBookingDate.ToString("dd MMM yyyy");
            <div class="listitem">
           
                <div class="itemdetails">
                    <div class="listcat">Date/Time:<div><a href="/GroomBooking/Show/@Booking.GroomBookingID">@dispdate</a></div></div>
                    <div class="listcat">Pet: @Booking.Pet.PetName</div>
                    <div class="listcat">Billed To: @Booking.Owner.OwnerFname  @Booking.Owner.OwnerLname</div>
                    <div class="listcat">Groomed By: @Booking.Groomer.GroomerFName</div>
                    <span class="cta"><a href="/GroomBooking/Update/@Booking.GroomBookingID">Update</a></span>
                </div>
                <div style="clear:both;"></div>
            </div>
        }
    }
    <div style="clear:both;"></div>
</div>
