@model PetGrooming.Models.ViewModels.ShowGroomer


@{
    ViewBag.Title = "Add";
}

<h2>Info About @Model.groomer.GroomerFName</h2>
<div class="navbar">
    <a class="navlink" href="/Groomer/List">Back to List</a>
    <a class="navlink" href="/Groomer/Update/@Model.groomer.GroomerID">Update</a>
    <a class="navlink" href="/Groomer/ConfirmDelete/@Model.groomer.GroomerID">Delete</a>
</div>

@{
    //convert to currency (string format)
    //https://stackoverflow.com/questions/21464496/format-decimal-value-to-currency-with-2-decimal-places
    //NOTE: there are alternative ways to convert using cultureinfo property (harder to configure).
    string Rate = String.Format("{0:0.00}", ((decimal)Model.groomer.GroomerRate / 100));
    string DOB = Model.groomer.GroomerDOB.ToString("yyyy-MM-dd");

}
<div>
    <div class="col2">
        <div class="inpfield"><span>First Name:</span>@Model.groomer.GroomerFName</div>
        <div class="inpfield"><span>Last Name:</span>@Model.groomer.GroomerLName</div>
        <div class="inpfield"><span>Rate:</span>@Rate</div>
        <div class="inpfield"><span>DOB (yyyy-mm-dd):</span>@DOB</div>
    </div>
    <div class="col2last">
        <div class="sectionheader">Appointments Booked</div>
        @foreach (var booking in Model.bookings)
        {

            string dispdate = booking.GroomBookingDate.ToString("dd MMM yyyy");
            string Price = String.Format("{0:0.00}", ((decimal)booking.GroomBookingPrice / 100));
            <div class="lineitem">
                Date : <a href="/GroomBooking/Show/@booking.GroomBookingID">@dispdate</a><br />
                Cost : @Price<br />
                Pet : <a href="/Pet/Show/@booking.Pet.PetID">@booking.Pet.PetName</a><br />
                Services : 
                <ul>
                    @foreach (var service in booking.GroomServices)
                    {
                        <li>@service.ServiceName</li>
                    }
                </ul>
            </div>
        }
    </div>
    <div class="clearfix"></div>
</div>
